<%= form_for(@marble) do |f| %>
  <% if @marble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marble.errors.count, "error") %> prohibited this marble from being saved:</h2>

      <ul>
        <% @marble.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name_your_marble %><br>
    <%= f.text_field :marble_name %>
  </div>
  <div class="field">
    <%= f.label :add_marble_pic %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :describe_your_marble %><br>
    <%= f.text_area :marble_text %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>

<div class="field">
    <%#= f.label :current_user_id %><br> 
    <%#= f.collection_select :user_id, User.order(:user_name), :id, :user_name %>
  </div>
