<h1>Marble Trading Floor</h1>
<strong><%= link_to 'Add Your Marble Here', new_marble_path %><strong>

<table class='table'>
  <thead> 
    <script language="javascript"> 
      function toggle() {
      var ele = document.getElementById("toggleText");
      var text = document.getElementById("displayText");
      if(ele.style.display == "block") {
        ele.style.display = "none";
        text.innerHTML = "Show Comments";
        }
      else {
        ele.style.display = "block";
        text.innerHTML = "Hide Comments";
        }
      } 
    </script>
  </thead>
<br><br>
  <tbody>
    <% @marble.each do |marble| %>
      <tr>
        <div class="field"> 

          <td rowspan="2"><%= image_tag marble.avatar.url(:thumb) %></td>
          <td><%= link_to marble.user.user_name, marbleuser_path %></td>
          <td><%= marble.marble_text %></td>

      </tr>
      <tr>
          <td><%= marble.marble_name %></td> 
          <td><a id="displayText" href="javascript:toggle();">Show Comments</a>
          <div id="toggleText" style="display: none">Comments Here</div></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
   <!--     <%# @comment.each do |c| %>
        <tr>
        <td><%#= c.marble.marble_name %></td>
        <td><%#= c.comment_text %></td>
        </tr>
    <%# end %>  -->

        <td><%#= link_to 'Comments', marblecomments_path%></td>



