<h1>User Profile</h1>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>User Name(s)</th>
      <th> Marble Name(s)</th>
      <th> Comment(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  	<% @marbles.each do |m| %>
      <tr>
      	<td><%= m.user.user_name %></td>
        <td><%= m.marble.marble_name %></td>
        <td><%= m.comment_text %></td>
      </tr>
      <% end %>


    <% @comments.each do |c| %>
      <tr>
        <td><%= c.user.user_name %></td>
        <td><%= c.marble.marble_name %></td>
        <td><%= c.comment_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


  


