

<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    text-shadow: 2px 2px #888888;
}
</style>
</head>
<body>
<h1>Welcome to MarbleTraders</h1>

<div class="col-md-9">

<blockquote><i>"He who dies with the most marbles, wins!"</i></blockquote>

<P><b>Welcome to MarbleTraders -the world's first (and by definition the BEST)- web platform for trading marbles</b></p><br>

<p><b><%= link_to 'Sign up now ', new_user_registration_path %></b> and build the best marble collection on your block!</p>

<div class="img">
<p>View and trade some of the best-looking marbles on the Planet!
<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10177928_644348968969169_3378947343961334397_n.png?oh=2449d4429ce64534cc66fa1d64d626a6&oe=54CD82F7&__gda__=1422686031_772a5813c0044761672c6f71145313f4" width="80" height="80"></p>
</div>

<div class="img">
<p>See some of the world's most unique marbles!<img src="http://www.marblecollecting.com/s/cc_images/cache_2756627904.png?t=1334446498" width="80" height="80"></p>
</div>

<div class="img">
<p> Trade with your friends!  Trade with people around the world!<img src="http://www.marblecollecting.com/s/cc_images/cache_3478261004.jpg?t=1347887566"></p><br>
</div>

</div>

 
<div class="col-md-3">
<br><br>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
<br>
  <div><%= f.submit "Log in" %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
</body>
</html>