<!DOCTYPE html>
<html>
<head>
  <title>MarbleTraders</title>
  
  <link rel="stylesheet" href= "//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cerulean/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style='width:1200px; margin: auto'>   
  <nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        

      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle,lrg- navbar-brand" data-toggle="dropdown">Home<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
             <li><a href="/welcome/marble_grade">Marble Grading</a></li> 

             <li><a href="/welcome/marble_history">Marble FAQ</a></li> 

           </ul>
         </li>

         <li><a href="/marbles">Trading Floor</a></li> 
         <li><a href="/comments">Comments</a></li> 







         <li><a href="/marbles/marbles_by_user">Marbles by User</a></li> 
         <li><a href="/comments/comments_by_marble">Comments by Marble</a></li> 
          <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle,navbar-brand" data-toggle="dropdown">My Account<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

             <li><a href="/welcome/user_profile">Edit My Profile</a></li>

             <li><a href="/marbles/show_my_marbles">Show My Marbles</a></li> 

             <li><%= link_to 'Add Your Marble Here', new_marble_path %></li> 


           </ul>




        <li> <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button" %></li> 


       </ul>
     </div>
   </div>
   
 </nav>

 <%= yield %>

</body>
</html>

